@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Exo+2|Noto+Sans+KR&display=swap');

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/* layout */
.gnbmo {display: none;}/* 태블릿모드에서만 보이도록 하기 위해 */
.en {font-family: 'exo 2', sans-serif;}
body {font-family: 'Noto Sans KR', sans-serif; font-size: 14px;}
.wrap {width: 100%; overflow: hidden;}


header {width: 100%; height: 100px; background:rgba(2,2,2,0.19); line-height: 100px; position: fixed; z-index: 100;}/* fixed를 사용할 땐 z-index를 준다 */
.innerheader {width: 1600px; margin: 0 auto; overflow: hidden;}
.innerheader .log0 {float: left;}
.innerheader .log0 a {display: block; width: 100%; height: 100%;}
.innerheader .log0 a img {width: 100%;}
.innerheader .gnb {float: left; margin-left: 80px;}
.innerheader .gnb li {float: left; margin-right: 80px;}
.innerheader .gnb li a {display: block; width: 100%; height: 100%; font-size: 16px; color: #fff; transition: all 0.2s;}
.innerheader .gnb li a:hover, .innerheader .gnb li a:focus {color: #ff8342; transition: all 0.3s;}/* focus=tab키로 hover효과 */
.innerheader .tnb {float: right;}
.innerheader .tnb li {float: left; margin-right: 25px;}
.innerheader .tnb li a {display: block; width: 100%; height: 100%; text-align: center; color: #fff;}
.innerheader .tnb li:nth-child(1) a i, .innerheader .tnb li:nth-child(2) a i {font-size: 20px; margin-right: 8px;}
.innerheader .tnb li:last-child a {width: 105px; line-height: 2; border: 1px solid #fff; border-radius: 30px; margin-top: 35px;}
.innerheader .tnb li:last-child a i {margin-left: 10px;}


.visual {width: 100%; height: 100vh; background: url(../img/vis_4.jpg) no-repeat center/cover; background-attachment: fixed;}
.visual .maintitle {width: 1000px; margin: 0 auto; color: #fff; padding: 300px 0; text-align: center;}
.visual .maintitle h2 {font-size: 55px; margin-bottom: 20px; line-height: 1.2;}
.visual .maintitle p {font-size: 25px; margin-bottom: 30px;}
.visual .maintitle .view {font-size: 15px; display: block; width: 180px; border: 1px solid #fff; padding: 8px 0; border-radius: 40px; margin: auto;}

/* animation */
@-webkit-keyframes slide-up {
    0% {opacity: 0;}
    40% {opacity: 0; transform: translateY(40px);}
}
@keyframes slide-up {
    0% {opacity: 0;}
    40% {opacity: 0; transform: translateY(40px);}
}

.visual .maintitle.motion h2 {-webkit-animation-name: slide-up;animation-name: slide-up; -webkit-animation-duration: 0.8s; animation-duration: 0.8s;}
.visual .maintitle.motion p {-webkit-animation-name: slide-up;animation-name: slide-up; -webkit-animation-duration: 1.2s; animation-duration: 1.2s;}
.visual .maintitle.motion .view {-webkit-animation-name: slide-up;animation-name: slide-up; -webkit-animation-duration: 1.2s; animation-duration: 1.2s;}
/* fin */


/* 공통요소 */
.inner {width: 1400px; margin: 0 auto;}
.title {color: #000; text-align: center;}
.title h2 {font-size: 42px; margin-bottom: 5px; font-weight: normal;}
.title h2 span {color: #ff8342;}
.title p {font-size: 18px; color: #555;}

/* animation */
.title.motion h2 {-webkit-animation-name: slide-up;animation-name: slide-up; -webkit-animation-duration: 0.8s; animation-duration: 0.8s;}
.title.motion p {-webkit-animation-name: slide-up;animation-name: slide-up; -webkit-animation-duration: 1.2s; animation-duration: 1.2s;}
/* fin */

.about {width: 100%; padding: 80px 0;}
.about .inner ul {width: 100%; overflow: hidden; margin: 30px 0;}
.about .inner ul li {float: left; width: 33.3333%;}
.about .inner ul li a {display: block; width: 100%; height: 100%;}
.about .inner ul li a p.img  {width: 100%; overflow: hidden;}
.about .inner ul li a p.img img {width: 100%; transition: all 0.3s;}

/* hover */
.about .inner ul li a:hover p.img img, .about .inner ul li a:focus p.img img {transform: scale(1.2); transition: all 0.3s;}

.about .inner ul li a .text {width: 100%; padding: 30px; box-sizing: border-box;}
.about .inner ul li a .text h3 {font-size: 20px; margin-bottom: 10px;}
.about .inner ul li a .text p {font-size: 16px; margin-bottom: 10px;}
.about .inner ul li:nth-child(1) a .text p, .about .inner ul li:nth-child(3) a .text p {margin-bottom: 34px;}
.about .inner ul li a .text p.more {text-transform: uppercase; padding-left: 40px; font-weight: bold; position: relative;}
.about .inner ul li a .text p.more::before {content: '\f178'; position: absolute; left: 0; top: 0; font-family: 'fontawesome'; width: 30px; height: 30px; background: #ff8342; border-radius: 50%; line-height: 30px;}

/* animation */
.about .inner ul li.motion:nth-child(1) {-webkit-animation-name: slide-up;animation-name: slide-up; -webkit-animation-duration: 1.6s; animation-duration: 1.6s;}
.about .inner ul li.motion:nth-child(2) {-webkit-animation-name: slide-up;animation-name: slide-up; -webkit-animation-duration: 2s; animation-duration: 2s;}
.about .inner ul li.motion:nth-child(3) {-webkit-animation-name: slide-up;animation-name: slide-up; -webkit-animation-duration: 2.4s; animation-duration: 2.4s;}
/* fin */

.innovations {width: 100%; margin-bottom: 150px;}
.innovations .inner .imgbox {width: 100%; background: url(../img/product_1.jpg)no-repeat center/cover; position: relative; height: 540px; margin-top: 30px;}/* bg img는 height를 준다 */
.innovations .inner .imgbox .bottom {width: 80%; position: absolute; left: 50%; transform: translateX(-50%); bottom: -50px; background: #3a3c4e;}
.innovations .inner .imgbox .bottom h3 {font-size: 18px; background: #fff; padding: 15px 45px; box-sizing: border-box;}
.innovations .inner .imgbox .bottom h3 span {color: #ff8342; margin-right: 10px;}
.innovations .inner .imgbox .bottom .innerbox {width: 100%; padding: 25px 45px; box-sizing: border-box; overflow: hidden; color: #fff;}
.innovations .inner .imgbox .bottom .innerbox p {float: left;}
.innovations .inner .imgbox .bottom .innerbox a {float: right; display: block; background: #ff8342; padding: 7px 30px; border-radius: 50px;}/* display-block 설정을 해도 float 덕분에 한줄 차지X */

/* hover */
.innovations .inner .imgbox .bottom .bottom a:hover, .innovations .inner .imgbox .bottom .bottom a:focus {background: #f86010; transition: all 0.3s;}
/* fin */

/* animation */
@-webkit-keyframes slide-up2 {
    0% {opacity: 0;}
    40% {opacity: 0; transform: translateY(40px) translateX(-50%);}
}
@keyframes slide-up2 {
    0% {opacity: 0;}
    40% {opacity: 0; transform: translateY(40px) translateX(-50%);}
}

.innovations .inner .imgbox .bottom.motion {-webkit-animation-name: slide-up2; animation-name: slide-up2; -webkit-animation-duration: 1.6s; animation-duration: 1.6s;}
/* fin */


.me {width: 100%; background: url(../img/me.jpg)no-repeat center/cover; padding: 80px 0;}
.me .list {width: 100%; border-top: 2px solid #000; border-bottom: 2px solid #000; margin: 50px 0;}
.me .list > li {padding: 30px 60px; box-sizing: border-box;}
.me .list > li:nth-child(1) {border-bottom: 1px solid #ddd;}
.me .list > li h3 {font-size: 18px; margin-bottom: 20px;}
.me .list > li h3 span {color: #ff8342; margin-right: 15px;}
.me .list > li > p {line-height: 1.6; padding-left: 33px; margin-bottom: 20px;}
.me .list > li a {display: inline-block; font-weight: bold; margin-left: 3px; font-size: 14px;}
.me .list > li a span {margin-left: 10px; color: #ff8342;}
.me .list > li ul.in {margin-bottom: 50px;}
.me .list > li ul.in li {margin-bottom: 10px; overflow: hidden;}
.me .list > li ul.in li em {float: left; width: 12%;}
.me .list > li ul.in li p {float: left; width: 88%; position: relative;}
.me .list > li ul.in li p::before {content: ''; width: 4px; height: 4px; border-radius: 50%; position: absolute; background: #ff8342; left: -40px; top: 10px;}
.me button {display: block; border: none; padding: 10px; text-align: center; border-radius: 50px; color: #fff; background: #ff8342; width: 280px; margin: auto;}

/* animation */
.me .list.motion {-webkit-animation-name: slide-up;animation-name: slide-up; -webkit-animation-duration: 1.6s; animation-duration: 1.6s;}
.me button.motion {-webkit-animation-name: slide-up;animation-name: slide-up; -webkit-animation-duration: 2s; animation-duration: 2s;}
/* fin */


.sns {width: 100%; padding: 150px 0;}
.sns ul {margin-top: 50px; overflow: hidden;}
.sns ul li {float: left; width: 32.6666%; margin-right: 1%;}
.sns ul li:last-child {margin-right: 0;}
.sns ul li a {display: block; width: 100%; height: 100%;}
.sns ul li a p.img {width: 100%; position: relative;}
.sns ul li a p.img img {width: 100%;}
.sns ul li a p.img::before {content: ''; width: 0%; height: 100%; background: rgba(255,131,66,0.9); position: absolute; top: 0; left: 0; transition: all 0.5s;}
.sns ul li a p.img::after {content: 'BLOG'; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); transition: all 0.5s; color: #fff; font-size: 15px; padding: 5px 30px; border: 1px solid #fff; border-radius: 40px; opacity: 0;}

/* hover */
.sns ul li a:hover p.img::before, .sns ul li a:focus p.img::before {width: 100%; transition: all 0.5s;}
.sns ul li a:hover p.img::after, .sns ul li a:focus p.img::after {opacity: 1; transition: all 0.5s;}
/* fin */

/* animation */
.sns ul li.motion:nth-child(1) {-webkit-animation-name: slide-up;animation-name: slide-up; -webkit-animation-duration: 1.6s; animation-duration: 1.6s;}
.sns ul li.motion:nth-child(2) {-webkit-animation-name: slide-up;animation-name: slide-up; -webkit-animation-duration: 2s; animation-duration: 2s;}
.sns ul li.motion:nth-child(3) {-webkit-animation-name: slide-up;animation-name: slide-up; -webkit-animation-duration: 2.4s; animation-duration: 2.4s;}


.sns ul li a .bottom {width: 100%; padding: 20px 0 20px 30px; box-sizing: border-box;}
.sns ul li a .bottom p {font-size: 18px; font-weight: bold;}
.sns ul li a .bottom p.color {color: #ff8342; font-size: 15px; font-weight: normal;}
.sns ul li a .bottom p.time {color: #999; font-size: 15px; font-weight: normal; padding-left: 20px; margin-top: 30px; position: relative;}
.sns ul li a .bottom p.time::before {content: '\f017'; position: absolute; left: 0; top: 4px; font-family: fontawesome; font-size: 15px; }


footer {width: 100%; border-top: 1px solid #999; padding: 30px 0 50px;}
footer .innerfooter {width: 1600px; margin: 0 auto; overflow: hidden;}
footer .innerfooter .ftlogo {float: left;}
footer .innerfooter .address {float: left; margin-left: 100px; margin-top: 10px;}
footer .innerfooter .address li:nth-child(1) {font-weight: bold; margin-bottom: 10px;}
footer .innerfooter .address li:last-child {color: #999;}
footer .innerfooter .list {float: right;}
footer .innerfooter .list li {float: left; margin-left: 80px;}
footer .innerfooter .list li a {display: block; width: 100%; height: 100%; position: relative;}
footer .innerfooter .list li a::after {content: ''; position: absolute; width: 4px; height: 4px; border-radius: 50%; background: #ccc; right: -50px; top: 10px;}

/* hover */
footer .innerfooter .list li a:hover, footer .innerfooter .list li a:focus {color: #ff8342; transition: all 0.3s; text-decoration: underline;}


/* responsive Web */
/* 1599px~1025px */
@media screen and (max-width:1599px) {
    .innerheader {width: 95%; min-width: 1024px;}
    .innerheader .gnb {margin-left: 50px;}
    .innerheader .gnb li {margin-right: 40px;}
    .innerheader .gnb li:last-child {margin-right: 0;}
    .innerheader .tnb li {margin-right: 10px;}
    .inner {width: 95%;}
    .me .list > li ul.in {padding-left: 32px;}
    .me .list > li a {padding-left: 32px;}
    footer .innerfooter {width: 95%; min-width: 90%;}
    footer .innerfooter .list {display: none;}
}

/* 1024px~769px */
@media screen and (max-width:1024px) {
    .visual .maintitle {padding: 280px 0;}
    .innerheader {width: 95%; min-width: 90%;}
    .innerheader .gnb, .innerheader .tnb {display: none;}
    .innerheader .gnbmo {display: block; float: right; color: #fff; font-size: 40px;}
    .visual .maintitle {width: 80%;}
    .me .list > li ul.in li p::before {left: -11px;}
}
/* 768px~415px */
@media screen and (max-width:768px) {
    .visual .maintitle {padding: 250px 0;}
    .visual .maintitle h2 {font-size: 35px;}
    .visual .maintitle p {font-size: 23px;}
    .about {padding: 50px 0;}
    .about .inner ul {margin: 30px 0px 0px;}
    .about .inner ul li {float: none; width: 100%;}
    .me .list > li ul.in li em {width: 25%;}
    .me .list > li ul.in li p {width: 75%;}
    .me .list > li ul.in li p::before {left: -17px;}
    .sns {padding: 80px 0;}
    .sns ul li {width: 100%; float: none; margin-right: 0;}
    footer .innerfooter {text-align: center;}
    footer .innerfooter .ftlogo {float: none;}
    footer .innerfooter .address {float: none; margin-left: 0;}
}